# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
my_num = 23

print (my_num)

type(my_num)

print(25)

23
25

##### Assinging float

In [2]:
my_float = 10.5

print(my_float)

type(my_float)

10.5

float

#### Performing Calculations on ints and floats

##### Addition

In [9]:
5+5

my_num + 10

my_num + .5

.5 + .5

my_float + my_num

33.5

##### Subtraction

In [13]:
10 - 5

10.5 - 5

my_num - 3

my_float - 10

0.5

##### Multiplication

In [17]:
10 * 2

my_num * 10

my_float * 5

.5 * 10

5.0

##### Division

In [22]:
# returns a float
int(25 / 5)

10.5 / 2

my_float / 2

5.25

##### Floor Division

In [25]:
my_float // 2

11 // 2

11.0 // 2

5.0

##### Modulo

In [31]:
11 % 2

24 % 5

10 % 2

11 % 2

1

##### Exponential

In [33]:
10 ** 2
10 ** 10

my_num ** 3

12167

### String Input-Output

##### String Assignment

In [35]:
my_string = 'hello world'

type(my_string)

print(my_string)

hello world

##### print() <br>
<p>Don't forget about end=' '</p>

##### String Concatenation

In [41]:
class_string = 'Padawans 136'

concat_string = "Future Developers"+ ' ' + class_string

print(concat_string)

instructor_one = 'brandt'
instructor_two = 'dylan'

instructors = instructor_one + ' ' + instructor_two

print(instructors)

Future Developers Padawans 136
brandt dylan

##### Type Conversion

In [50]:
type(my_num)

str(my_num)

my_num = str(my_num)
type(my_num)

# my_num + 10

str(55)

type(int('55'))

str_num = '23'
print(type(str_num))

int(str_num)

print(type(str_num))

num = int(str_num)

print(type(num))

<class 'str'>
<class 'str'>
<class 'int'>

##### input()

In [53]:
my_age = input('What is your age: ')

print(my_age, type(my_age))

my_age = int(my_age) + 1

print(my_age)

What is your age: 23
23 <class 'str'>
24

##### format()

In [55]:
instructor_two = 'dylan'

'{} You are {} year\'s old'.format(instructor_two, 33)

f'{instructor_two} you are {33} year\'s old'

"dylan you are 33 year's old"

##### Old Way (python 2)

In [ ]:
"My name is %s" %instructo_two

"my age is %d and name is %s" %(int(my_age), instructor_two)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [59]:
car_color = input('What is the color of your car? ')
car_year = input('What year is your car? ')
car_make = input ('What brand is your car?')
car_model = input('What model is your car? ')

concat_string = car_color + ' ' + car_year + ' '+ car_make + ' '+ car_model

print(concat_string)

What is the color of your car? toyota
What year is your car? 2002
What brand is your car?toyota
What model is your car? prius
toyota  2002 toyota prius

### If Statements

In [67]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

if 10 > 11:
    print('10 greater than 11')
    
if 11 > 10: 
    print('11 > 10')
    
if True: 
    print('true')
    print('action')
    print('still in if ')
    
if 0:
    print ('zero')
    
if 1: 
    print('one')
    
if 10 > 11 and 9 == 9:
    print('both true')
    
if 10 > 11 or 9 == 9:
    print('both true using or')
    
if 10 > 11 or 9 != 9:
    print('either true using or 2')

11 > 10
true
action
still in if
one
both true using or

##### 'is' keyword

In [ ]:
if 9 is 9:
    print('is true')
    
my_dict = {'foo':'bar'}
my_dict

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [75]:
'p' in input('what is your name? ')

what is your name? michael

False

## Using 'and'/'or' with If Statements

### Elif Statements

In [76]:
if 'ryan' in instructors:
    print('ranger')
elif 'brian' in instructors:
    print('kekambas')
elif 'dylan' in instructors: 
    print('padawans')
elif 'brandt' in instructors:
    print('also padawans')
else: 
    print('Maybe not in CT')

padawans

### Else Statements

In [ ]:
# see above

### For Loops

In [77]:
print(instructors)

for e in  instructors:
    print(e)
    print('hello world')

brandt dylan
b
hello world
r
hello world
a
hello world
n
hello world
d
hello world
t
hello world

hello world
d
hello world
y
hello world
l
hello world
a
hello world
n
hello world

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [80]:
for e in instructors:
    if e == 't':
        continue
        print(e)

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [81]:
for i in range (1, 11):
    cube = i ** 3
    if cube > 1000:
        break
    print (cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [89]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for num in range(2, 101):
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
          break  
        
    else: 
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [102]:
age_str = input('How old are you? ')

age = int(age_str)

if age < 18:
    print('kids')
elif age <= 18:
    print('adults')
elif age <= 65:
    print('adults')
else:
    print('seniors')

How old are you? 16
kids